$light-grey:rgba(0, 0, 0, 0.01);
$light-blue:rgba(0, 0, 255, 0.05);
$light-green:rgba(0, 255, 0, 0.05);
$light-red:rgba(255, 0, 0, 0.05);

.App {
  display:flex;
  flex-wrap: wrap;
  background:$light-grey;
  align-content: center;
}
.header {
  background: red;
  height:10vh;
  color: #fff;
  text-align:center;
  box-sizing: border-box;
  flex:0 0 100%;
}
.App .container {
  flex: 0 1 960px;
  flex-basis:center;
  position:relative;
  margin:0 auto;
  height: 100px;
  padding:15px;
  background:#fff;
  height:180vh;
  box-shadow:2px 2px 2px $light-blue, -2px -2px 2px $light-blue;
  .requestheaders {
    margin-top:35px;
    table {
      background:$light-grey;
      margin:15px 0;
      padding:0;
      border-spacing: 0;
      height:60px;
      width:350px;
      tr{
      }
      td {
        border:1px solid rgba(0, 0, 0, .5);
        margin:0;
        padding:0;
        text-align:center;
        font-size:14px;
        font-family: Serif;
        background:$light-red;
      }
    }
  }
  .requesttype {
    margin-top:45px;
    display:flex;
    h3 {
      flex:0 0 auto;
      margin:8px 0;
      padding:0;
    }
    select {
      height:35px;
      width:100px;
      margin:0 20px;
      background:$light-green;
      flex:0 0 150px;
    }
    input {
      background: $light-red;
      font-weight:bold;
      width: 200px;
      margin:0 20px;
      border:1px solid #999;
      border-radius:2px;
      height:35px;
      padding:0 15px;
    }
  }
  .requestbody {
    div {
      margin:15px 0;
      label {
        display:block;
        margin-bottom:5px;
      }
      input {
        height:25px;
        background:$light-green;
        width:350px;
        border:1px solid #999;
        padding-left:5px;
      }
    }
  }
  .response {
    width: 100%;
    height: auto;
    background: $light-blue;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border:1px solid #999;
  }
}
